*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    position: relative;
    width: 320px;
    padding: 10px;
    margin: 10px auto;
    background-color: blanchedalmond;
}
#title{
    text-align: center;
    color: white;
}

img{
    position: relative;
    width: 70px;
    height: 70px;
    align-items: center;
}