*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    position: relative;
    width: 320px;
    padding: 10px;
    margin: 10px auto;
    background-color: blanchedalmond;
}
#title{
    text-align: center;
    color: white;
}

img{
    position: relative;
    width: 70px;
    height: 70px;
    align-items: center;
}

.card{
    position: relative;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}
.cardHeader{
    padding: 10px;
    border-bottom: 1px solid #eee;
    background-color: #ccc;
}
.cardBody{
    padding: 10px;
    background: #fff;
}

.group{
    position: relative;
    width: 100%;
    margin: 5px 0;
}
.group label{
    color: #111;
    margin: 5px 0;
    font-family: calibri !important;
    font-weight: 600;
}
.input{
    display: block;
    width: 100%;
    outline: none !important;
    border: 1.5px solid #111;
    border-radius: 4px;
    padding: 10px;
}