*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    width: 320px;
    padding: 10px;
    margin: 10px auto;
    background-color: blanchedalmond;
}
#title{
    color: white;
}