body{
  margin: 0;
  overflow: hidden;
  font-family: ubuntu;
}
#messages{
  height: 88vh;
  overflow-x: hidden;
  padding: 10px;
  background-image: url(../images/whatsapp-bg.png);
}
form{
  display: flex;
}
input{
  font-size: 1.2rem;
  padding: 10px;
  margin: 10px 5px;
  appearance: none;

  -webkit-appearance: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input:focus{
  border: 2px solid rgb(87, 28, 28);
}

#message{
  flex: 2;
}

.msg{
  background-color: #dcf8c6;
  padding: 5px 10px;
  border-radius: 5px;
  width: fit-content;
  max-width: 60%;
  margin-bottom: 8px;
}
.msg p{
  margin: 0;
  font-weight: bold;
}
.msg span{
  font-size: 0.7rem;
  margin: 15px;
}